body {
  font-family: Arial;
  background: #a8bbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: rgb(214, 207, 207);
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

.answer {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background: #33526e;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}

.answer:hover {
  background: #2980b9;
}

#nextBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #2ecc71;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.correct {
  background-color: #2ecc71 !important;
}

.wrong {
  background-color: #e74c3c !important;
}

.answer:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
